<app-navbaruser></app-navbaruser>

<section style="background-color: #eee; height: 800px;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-5">
            <h2 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" style="text-align: center;">Update your account</h2>

            <form class="px-md-2" [formGroup]="updateUserForm" (ngSubmit)="updateUser()">

              <div class="row">
                <div class="col">
                  <ngx-dropzone [multiple]="false" accept="image/jpeg,image/jpg,image/png" (change)="onSelect($event)" style="width: 150px; height: 150px; justify-content: center; border-style: solid; border-color: #F9A825; margin-top: 8px;" class="mb-5">
                    <ngx-dropzone-label style="color: #F9A825;">Profile Picture (Maximum 1MB)</ngx-dropzone-label>
                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" class="dz-image-preview">
                    </ngx-dropzone-image-preview>
                  </ngx-dropzone>
                </div>

            
                <div class="col-lg-8" style="margin-left: 8px;">
                  <div class="form-outline mb-4" style="border-bottom: 1px solid #BDBDBD;">
                    <input formControlName="firstName" type="text" id="firstName" class="form-control" />
                    <label class="form-label" for="firstName">First name</label>
                  </div>
                  <div class="form-outline mb-4" style="border-bottom: 1px solid #BDBDBD;">
                    <input formControlName="middleName" type="text" id="middleName" class="form-control" />
                    <label class="form-label" for="middleName">Middle name (optional)</label>
                  </div>
                  <div class="form-outline mb-4" style="border-bottom: 1px solid #BDBDBD;">
                    <input formControlName="lastName" type="text" id="lastName" class="form-control" />
                    <label class="form-label" for="lastName">Last name</label>
                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col form-outline mb-4 col-md-4" style="border-bottom: 1px solid #BDBDBD; width: 240px; margin-left: 10px;">
                  <input formControlName="age" type="text" id="age" class="form-control" style="margin-left: -10px;"/>
                  <label class="form-label" for="age">Age</label>
                </div>

                <div class="col form-outline mb-4">
                  <mat-form-field style="width: 240px; height: 40px; margin-left: 30px;">
                    <mat-label style="margin-left: 10px;">Gender</mat-label>
                    <mat-select disableOptionCentering panelClass="nutrition_pannel" style="margin-left: 10px;">
                      <mat-option *ngFor="let gender of allGenders" [value]="gender" (click)="genderChanged(gender)">
                        {{gender}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">

                <div class="col form-outline mb-4 col-md-4" style="border-bottom: 1px solid #BDBDBD; width: 240px; margin-left: 10px;">
                  <input formControlName="height" type="text" id="height" class="form-control" style="margin-left: -10px;"/>
                  <label class="form-label" for="height">Height (cms)</label>
                </div>

                <div class="col form-outline mb-4 col-md-4" style="border-bottom: 1px solid #BDBDBD; width: 240px; margin-left: 40px;">
                  <input formControlName="weight" type="text" id="weight" class="form-control" style="margin-left: -10px;"/>
                  <label class="form-label" for="weight">Weight (kgs)</label>
                </div>
              </div>

              <label class="form-label mb-4" style="margin-top: 20px;">Diet Types</label>
              
              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="form-check" >
                    <input formControlName="glutenFree" class="form-check-input" type="checkbox" value="" id="glutenFree">
                    <label class="form-check-label" for="glutenFree" style="margin-top: 2px;">
                      Gluten Free
                    </label>
                  </div>

                </div>
                <div class="col-md-4 mb-4">
                  <div class="form-check">
                    <input formControlName="lactoseIntolerant" class="form-check-input" type="checkbox" value="" id="lactoseIntolerant">
                    <label class="form-check-label" for="lactoseIntolerant" style="margin-top: 2px;">
                      Diary Free
                    </label>
                  </div>

                </div>
                <div class="col-md-4 mb-4">
                  <div class="form-check">
                    <input formControlName="diabetes" class="form-check-input" type="checkbox" value="" id="diabetes">
                    <label class="form-check-label" for="diabetes" style="margin-top: 2px;">
                      Diabetes Friendly
                    </label>
                  </div>
                </div>
              </div>

              <button class="btn btn-dark btn-lg" type="button" (click)="navigateBack()" style="background-color:white; color:gray; box-shadow: none; height: 50px; border:gray 2px solid; width: 150px; margin-right: 220px;">Cancel</button>
              <button class="btn btn-dark btn-lg" type="submit" style="background-color:#F9A825; color: white; box-shadow: none; height: 50px; width: 150px;">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>