<div style="margin-top: 10px; font-size: 16px; text-align: center;">
  <div class="form-check form-check-inline">
      <input type="title" placeholder="Search by title:" #title (input)="filterChange(title.value)" style="width: 500px; border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 2px 8px"/>
  </div>
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckGlutenFree" [(ngModel)]="filter.glutenFree" (ngModelChange)="filterChange(title.value)" style="margin-left: 8px;"/>
      <label class="form-check-label" for="flexCheckGlutenFree" style="margin-top: 3px;">Gluten Free</label>
  </div>

  <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckLactoreFree" [(ngModel)]="filter.lactoseFree" (ngModelChange)="filterChange(title.value)" style="margin-left: 8px;"/>
      <label class="form-check-label" for="flexCheckLactoreFree" style="margin-top: 3px;">Lactose Free</label>
  </div>

  <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDiabetesFriendly" [(ngModel)]="filter.diabetesFriendly" (ngModelChange)="filterChange(title.value)" style="margin-left: 8px;"/>
      <label class="form-check-label" for="flexCheckDiabetesFriendly" style="margin-top: 3px;">Diabetes Friendly</label>
  </div>  

  <mat-form-field style="margin-left: 30px;">
    <mat-label>Diet Type</mat-label>
    <mat-select disableOptionCentering panelClass="nutrition_pannel">
      <mat-option *ngFor="let type of allTypes" [value]="type" (click)="filterTypeChange(title.value, type)">
        {{type}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div class="row d-flex justify-content-center" style="margin-bottom: 20px; border-radius: 20px;">
<div class="col-sm-3" *ngFor="let dailyPlan of dailyPlans" style="margin-left: 50px; margin-top: 20px; margin-bottom: 20px;" id = "refreshDiv">
  <div class="card" style="height: 500px;">
    <div class="hover-overlay" data-mdb-ripple-color="light">
      <img [src]="getDailyPlanImage(dailyPlan.id)" class="card-img-top" style="height: 200px;"/>
      <a (click)="navigateProgramPageUser(dailyPlan.id)" style="cursor: pointer;">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <div class=" d-flex align-items-start flex-column mb-3">
        <h3 class="card-title">{{dailyPlan.name}}</h3>
        <p class="card-text">Breakfast: {{dailyPlan.breakfast}}</p>
        <p class="card-text">Lunch: {{dailyPlan.lunch}}</p>
        <p class="card-text">Dinner: {{dailyPlan.dinner}}</p>
        <p class="card-text">Snack: {{dailyPlan.snack}}</p>
        <p class="card-text ">Calories: {{dailyPlan.calories}}</p>
    </div>
    <span style="position: absolute; top: 0; right: 0; margin: 8px;" (click)="navigateProgramPageUser(dailyPlan.id)">
      <h1
      style="cursor: pointer; color: #00BFA5; width: 120px; background-color: white; padding: 12px; border-radius: 20px; text-align: right; padding-right: 62px;" > 
          {{dailyPlan.hearts}}
      </h1>
      <img src="assets/icons/heart.png" style="width: 40px; position: relative; bottom: 64px; left: 65px; cursor: pointer;">
    </span>
  </div>
</div>
</div>


<!-- Add the pagination controls -->
<nav aria-label="Page navigation example" class="d-flex justify-content-center" style="margin-top: 10px;">
<ul class="pagination">
<li class="page-item">
  <a class="page-link" style="cursor: pointer;" aria-label="Previous" (click)="onPageChange(currentPage - 1)">
    <span aria-hidden="true">&laquo;</span>
    <span class="sr-only">Previous</span>
  </a>
</li>
<li class="page-item" *ngFor="let page of getPaginationArray()">
  <a class="page-link" style="cursor: pointer;" (click)="onPageChange(page)">{{ page }}</a>
</li>
<li class="page-item">
  <a class="page-link" style="cursor: pointer;" aria-label="Next" (click)="onPageChange(currentPage + 1)">
    <span aria-hidden="true">&raquo;</span>
    <span class="sr-only">Next</span>
  </a>
</li>
</ul>
</nav>