<app-navbaruser></app-navbaruser>
<span class="h1 fw-bold mb-0" style="color: #F9A825; position: relative; top: 50px; left:130px;">
    Welcome back, {{this.loggedUser?.firstName}} {{this.loggedUser?.middleName}} {{this.loggedUser?.lastName}}!
    <ng-container>
        <img (click)="updateProfileForm()" src="assets/icons/UpdateIcon.svg" style="width: 50px; cursor: pointer; margin-left: 8px; margin-bottom: 4px;">
        <img (click)="deleteProfileDialogue()" src="assets/icons/DeleteIcon.svg" style="width: 50px; cursor: pointer; margin-left: 8px; margin-bottom: 4px;">
    </ng-container>
</span>

<!-- <h1 class="large fw-bold " style="color: #F9A825; margin-top: 40px; margin-left: 130px;"> {{this.plan?.name}} </h1> -->

<div class="row" style="margin-top: 110px; margin-left: 120px;">
    <div class="col-3 container" style="margin-right: 100px;">
        <img style="width: 300px; height: 300px; border-radius: 200px;" [src]="this.profileImageUrl" class="card-img-top shadow-lg "/>
    </div>

    <div class="col-3 shadow" style="background-color: #F9A825; border-radius: 20px; padding: 20px; height: 400px;">
        <div class="col container">
            <div class="row" style="margin-bottom: 10px; border-bottom: white solid 3px;">
                <span class="h2 fw-bold mb-o" style="color: white">User Information</span>
            </div>
            <div class="row">
                <div class="col">
                    <h3 style="color: white"> Age: </h3>
                </div>
                <div class="col">
                    <h3 style="color: white"> {{this.loggedUser?.age}} </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 style="color: white"> Gender: </h3>
                </div>
                <div class="col">
                    <h3 style="color: white"> {{this.loggedUser?.gender}} </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 style="color: white"> Weight: </h3>
                </div>
                <div class="col">
                    <h3 style="color: white"> {{this.loggedUser?.weight}} </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 style="color: white"> Height: </h3>
                </div>
                <div class="col">
                    <h3 style="color: white"> {{this.loggedUser?.height}} </h3>
                </div>
            </div>
    
            <div class="row" style="color: white;">
                <div class="col">
                    <h3> Gluten Free: </h3>
                </div>
                <div class="col">
                    <h3> {{this.loggedUser?.glutenFree}} </h3>
                </div>
            </div>
            <div class="row" style="color: white;">
                <div class="col">
                    <h3> Diary Free: </h3>
                </div>
                <div class="col">
                    <h3> {{this.loggedUser?.lactoseIntolerant}} </h3>
                </div>
            </div>
            <div class="row" style="color: white;">
                <div class="col">
                    <h3> Diabetes: </h3>
                </div>
                <div class="col">
                    <h3> {{this.loggedUser?.diabetes}} </h3>
                </div>
            </div>
        </div>
    </div>
    

    <div class="col shadow" style="background-color: #00BFA5; border-radius: 20px; padding: 20px; height: 400px; margin-left: 100px; margin-right: 120px;">
        <div class="col container">
            <div class="row" style="margin-bottom: 10px; border-bottom: white solid 3px;">
                <span class="h2 fw-bold mb-o" style="color: white">Reports</span>
            </div>
            <div class="row">
                <div class="col">
                    <h3 style="color: white"> Body Mass Index: </h3>
                </div>
                <div class="col">
                    <h3 style="color: white"> {{this.bmi}} </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 style="color: white"> Body Type: </h3>
                </div>
                <div class="col">
                    <h3 style="color: white"> {{this.bmiStatus}} </h3>
                </div>
            </div>
            <div class="row" style="margin-top: 44px;">
                <h3 style="color: white">
                    {{ this.recommendedDiet1 != null ? 'We recommend you these diets' : 'No diets recommended' }}
                </h3>
            </div>
            <div class="row">
                <div class="col">
                    <h3 style="color: white" (click)="navigateProgramPage(this.recommendedDiet1?.id)"> {{this.recommendedDiet1?.name}} </h3>
                </div>
            </div>
    
            <div class="row" style="color: white" (click)="navigateProgramPage(this.recommendedDiet2?.id)">
                <div class="col">
                    <h3> {{this.recommendedDiet2?.name}} </h3>
                </div>
            </div>
            <div class="row" style="color: white" (click)="navigateProgramPage(this.recommendedDiet3?.id)">
                <div class="col">
                    <h3> {{this.recommendedDiet3?.name}} </h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div style="margin-right: 120px; margin-left: 130px; margin-top: -60px; margin-bottom: 50px;">
    <h2 style="color: #808080">Additional Comments</h2>
    <h3 style="color: #808080"> {{this.plan?.comments}} </h3>
</div> -->

<app-footer></app-footer>